body{
    background-color: #7b3cb3;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    position: relative;
    top:20%;
}

div.container{
    text-align: center;

}
h1{
    color: #f7f739;
    margin: 0;
}
button{
    color: #f7f739;
    text-align: center;
    border: none;
    background-color: inherit;
    font-family: Montserrat, sans-serif;
    font-size: 44px;
    margin: 0;
    outline: none;
}
button:hover {
    color: #ee8b26;
    border: none;
    background-color: inherit;
}
